@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root{
  font-family:'Montserrat', sans-serif;
}

.todo-app{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.todo-form-container{
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}

.title-header{
  font-weight: 700;
}

.form-container{
  width: 100%;
}

.todo-form{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  flex-direction: column;
  height: 40vh; margin-bottom: 50px;
}

.todo-input-title{
border: none;
border-bottom: 1px solid blue;
text-align: center;
font-weight: 700;
color: blue;
font-size: 20px;
}

.todo-input-title:focus{
  outline: none;
}

.todo-input-content{
  border: 1px solid blue;
  height: 50px;
  text-align: center;
  color: blue;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
}

.todo-input-content:focus{
  outline: none;
}

.todo-button{
  border: none;
  border-radius: 8px;
  background: blue;
  color: #fff;
  height: 20px;
  width: 100%;
  align-self: center;
  font-weight: 700;
  box-shadow: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.todo-button:hover{
  background: transparent;
  color: blue;
  border: 2px solid blue;
}

.todo-row{
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  background:#D9DBF1; padding: 20px;
  border-radius: 10px; cursor: pointer;
}

.icons{
  display: flex; flex-direction: column;
  justify-content: flex-start;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.complete{
background-color: #8E9DCC; 
cursor: pointer;
}

.complete > h1{
  opacity: 40%;
}

.complete > p {
  opacity: 40%;
}

.complete::after{
  content: "Fait!";
  position: relative;
  top: -160px;
  color: green; font-weight: 700;
}

.title-tache{
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.content-tache{
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.delete{
  color: red;
  text-decoration: underline;
  font-size: 14px;
}

.edit{
  color: blue;
  font-size: 14px;
}

.content-container{
  overflow: scroll;
  width: 100%;
}